body{background-color:bisque; text-align: center;}

ul{ 
    display:table; margin:0 auto;
    font-size: 18px;
}
ol{ 
   display:table; margin:0 auto;
   font-size: 18px;
}
h2{
    color: rgb(17, 3, 3);
}

h3{
    color: rgb(10, 10, 158);
}

